In [1]:
import pandas as pd
import string

Loading dataset

In [2]:
df = pd.read_csv('labeled.csv')
df.head(10)

   index  file                                               text    sport
0      1     0  Archery TOURNAMENT JUNE 21-24 9AM-2PM REGISTRA...  archery
1      2     1  ENTERTAINMENT PRESENTS ARCHERY TOURNAMENT LORE...  archery
2      3    10  PLEASE JOIN US FOR A ARCHERY FUNDRAISER TO RAI...  archery
3      4   101  Tim Gillingham Shooting Clinic UWTEC TENEME HI...  archery
4      5   102  Winter Warm-Up NASP Archery Tournament ped by ...  archery
5      6   103  ALL ARE WELCOME! COME SHOOT FOR FUN OR COMPETI...  archery
6      7   104  Follow Us on Facebook www.hbgarcheryclub.com H...  archery
7      8   105  ft GRUNWALD MUZEUM 1001 AMM Archery 12TH INTER...  archery
8      9   106  3. JACKSON PARISH BOWHUNTERS TOURNAMENT MARCH ...  archery
9     10   107  Kilari NOHDET Exce Ecc Archery KARACHI OPEN AR...  archery

In [3]:
df.shape

(2392, 4)

In [4]:
df['sport'].value_counts()

chess         447
basketball    373
golf          335
cricket       272
tennis        219
baseball      177
rugby         162
archery       156
billiard      144
carrom        107
Name: sport, dtype: int64

Take 90% sport data from the dataset

In [5]:
df_chess = df[df.sport == 'chess']
df_chess

      index  file                                               text  sport
957     958     0  CHESS23 Tournament 00 PLAY TO WIN! alamy ידיד ...  chess
958     959     1  ΝΑΤΙΟΝΑL CHESS TOURNAMENT PRIZE $1K CASH SUNDA...  chess
959     960    10  CHESS TOURNAMENT lovenik.com SUNDAY JUNE 28,20...  chess
960     961   105                  mult dreamstime. CHESS TOURNAMENT  chess
961     962   106  1, 4. Der Springer ist die Symbol-Figur von Ch...  chess
...     ...   ...                                                ...    ...
1399   1400     9  000 000 (O) 000 0.00 BISHOP KING Ancherhalikud...  chess
1400   1401    93  CHESS TOURNAMENT 10 AM April 30 Lorem ipsum do...  chess
1401   1402    94  THE ULTIMATE CHESS COMPETITION CHESS TOURNAMEN...  chess
1402   1403    95  Adob Adobe Adobe Stock | #184054911 10 AM Apri...  chess
1403   1404    98  03/ CHESS VECTOR BACKGROUND GEOMETRIC STYLE 04...  chess

[447 rows x 4 columns]

In [6]:
df_chess = df_chess.sample(frac = 0.9)
df_chess =  df_chess.reset_index(drop=True)
df_chess

     index  file                                               text  sport
0     1206   533  C8-A8 A1-B4 E8-H8 Al-B4 C3-B4 E8-H8 1 A1-B4 64...  chess
1      963   108  alamy a alamu alamy alamy alamy a alamy CHESS ...  chess
2     1383   756              DCZEC BURC www TUNNO fine art america  chess
3     1100   411  BENNY ANDERSSON TIM RICE: BJÖRN ULVAEUS CHESS ...  chess
4     1016   242  O 123RF 123RF B Ⓒ123RF* JUEZIO 1998 CHESS CLUB...  chess
..     ...   ...                                                ...    ...
397   1343   700  in 4 32 & Paul Charles Morphy Duke of Brunswic...  chess
398   1134   451  OF D دیل شده SAINT RAPID &BLITZ AUGUST 25-30 W...  chess
399   1038   292         CHESS! BUNDLE 5 DIFFERENT chess RESOURCES!  chess
400   1282   621                                    fineart america  chess
401   1204   531  Chess moves posters Moves diagonally, on a sin...  chess

[402 rows x 4 columns]

In [7]:
df_basketball = df[df.sport == 'basketball']
df_basketball

,index,file,text,sport
333,334,0,BASKETBALL TOURNAMENT epik freepik free eepik ...,basketball
334,335,1,● THE BASKETBALL TOURNMENT BASKETBALL Tourname...,basketball
335,336,10,Cas YOUR BAR PRESENTS 2 ת בנגבננה לוין 17TH OC...,basketball
336,337,100,15TH BASKETBALL SEASON TOURNAMENT www/www/////...,basketball
337,338,101,BASKETBALL GROUP AS GROUP B 18TH OCTOBER 20:00...,basketball
...,...,...,...,...
701,702,94,alamy BASKETBALL PLAYOFFS 05 a TEAM A VS TEAM ...,basketball
702,703,95,BASKETBALL TOURNAMENT GRAND PRIZE $1000 5-10 J...,basketball
703,704,96,res FOR 20 A NATIONAL CHAMPIONS TUELTORIE 2015...,basketball
704,705,98,agtree gtre pngtree condi gtree gee ongtree an...,basketball
705,706,99,BASKETBALL TOURNAMENT,basketball

In [8]:
df_basketball = df_basketball.sample(frac = 0.9)
df_basketball =  df_basketball.reset_index(drop=True)
df_basketball

,index,file,text,sport
0,573,319,25//10 YOUR CLUB PRESENTS LIVE BIG SCREEN BASK...,basketball
1,401,160,123RF ***** BASKETBALL TOURNAMENT PLAY TO Win ...,basketball
2,706,99,BASKETBALL TOURNAMENT,basketball
3,684,77,A4 SIZE - PAGES: ONE PAGE - RESOLUTION: 300 DP...,basketball
4,487,24,butterstock lukeruk shutterstock utterstock Tu...,basketball
...,...,...,...,...
331,452,208,"YOUR CLUB PRESENT BASKETBALL GAME AUGUST 8, 20...",basketball
332,400,16,BASKETBALL TOURNAMENT NAME OF TEAM 1 vs NAME O...,basketball
333,356,118,Basketball,basketball
334,612,354,NGALAMDUNKDOTCOM EDITABLE TEXT BASKETBALL CHAM...,basketball
335,591,335,WWW.REALLYGREATESITE.COM SUMMER LEAGUE BASKETB...,basketball

In [9]:
df_golf = df[df.sport == 'golf']
df_golf = df_golf.sample(frac = 0.9)
df_golf =  df_golf.reset_index(drop=True)
df_golf

     index  file                                               text sport
0     1974    60  ANNUAL AAED GOLF TOURNAMENT 2023 Beverage Cart...  golf
1     1823   240  Green Fields Company 222 555 7777 | greencompa...  golf
2     1768   187                         GREENVIEW GOLF MASTER 2021  golf
3     1907   319  FIFTΗ ΑΝN U GOLF TOURNAMENT. alamy a alamy CON...  golf
4     1752   172  9 HOLE GOLF SCRAMBLE FUNDRAISER 100% OF TEAM P...  golf
..     ...   ...                                                ...   ...
297   1838   255  • ACAE ANNUAL GOLF Quting FAVORITE MUSICAL ACT...  golf
298   1952     4  COMPANY LOGO PRESENTS 2ND ANNUAL CHARITY GOLF ...  golf
299   1848   265  GOLF TOURNAMENT AUGUST 2 llam - 7pm $60 Entry ...  golf
300   1763   182  CRESTON LAKES GOLF CLUB ANNUAL CHARITY GOLF TO...  golf
301   2010    98  STEVE JONES For Calvert County Commissioner GO...  golf

[302 rows x 4 columns]

In [10]:
df_cricket = df[df.sport == 'cricket']
df_cricket = df_cricket.sample(frac = 0.9)
df_cricket =  df_cricket.reset_index(drop=True)
df_cricket

     index  file                                               text    sport
0     1527   324                               CRICKET CHAMPIONSHIP  cricket
1     1430   137  #NOMOREWAIT freepil exfreepik bik T20 freepik ...  cricket
2     1477   220         CRICKET CHAMPIONSHIP Rules And Regulations  cricket
3     1590   471  INDIAN PREMIER LEAGUE CRICKET TEAM HOME VS TEA...  cricket
4     1504   276  我 4DSPORTS PLAY LIKE & CHAMPION TEAM ENTRY FEE...  cricket
..     ...   ...                                                ...      ...
240   1448   166  dreamstime Sunwald dreams LET THE BATTLE BEGIN...  cricket
241   1648   582  alamy a a alamy a alamy alamy a a alamu a a a ...  cricket
242   1664    78  UPCOMING EVENTS. CRICKET Tournment AT PNGTREE ...  cricket
243   1570   415                       CRICKET CHAMPIONS www.moview  cricket
244   1635   551  ENGLAND VERSUS SRI LANKA FRIDAY MAY 27-THE RIV...  cricket

[245 rows x 4 columns]

In [11]:
df_tennis = df[df.sport == 'tennis']
df_tennis = df_tennis.sample(frac = 0.9)
df_tennis =  df_tennis.reset_index(drop=True)
df_tennis

     index  file                                               text   sport
0     2251    17  TENNIS TOURNAMENT JUNE 18, 19, 20 TOURNAMENT S...  tennis
1     2289   203                      26 TENNIS vector illustration  tennis
2     2187    11  Tennis Tournament MP Call Today +000-0000-0000...  tennis
3     2308   220  FOR ALSTONN SCHOOL STUDENTS AT ARMBRUSTER STAD...  tennis
4     2245   164  PARE PREMIER SPORTZ GROUP MIDDLE SCHOOL BOYS G...  tennis
..     ...   ...                                                ...     ...
192   2232   151  2023 TENNIS TOURNAMENT 15 - 17 JULY Lorem ipsu...  tennis
193   2349     6  TENNIS TOURNAMENT JUNE 18, 19, 20 TOURNAMENT S...  tennis
194   2303   216  YOUR PRESENTS TENN 3525 OPEN TOURNAMENT THE HO...  tennis
195   2357    67                                  TENNIS TOURNAMENT  tennis
196   2278   194  BORIS BECKER by TEN-PRO Global Junior Tour 27 ...  tennis

[197 rows x 4 columns]

In [12]:
df_baseball = df[df.sport == 'baseball']
df_baseball = df_baseball.sample(frac = 0.9)
df_baseball =  df_baseball.reset_index(drop=True)
df_baseball

     index  file                                               text     sport
0      236   319  AL Rawlings WORLD BASEBALL CLASSIC KELL 29 MER...  baseball
1      159   100                                17 A C Braves A CER  baseball
2      292   690  FIELD DIANS 1839 sburgho 1939 3 17 CENTENNIAL ...  baseball
3      326   915  BASEBALL 2K12 C N E Have you EGAB qalere LA CA...  baseball
4      316   830  CALIFOR RODEO BASEBALL ASSOCIATION @CAL BASEBA...  baseball
..     ...   ...                                                ...       ...
154    319   846  b Yank Bees Braves CINCINNATI REDS Mets Lyound...  baseball
155    162   104  WILLIAMS 8 Fully Editable Photoshop Templates ...  baseball
156    181   163  Ps Fully Editable Photoshop Templates TOMMY Af...  baseball
157    192   198  GROUP AS GROUP B BASEBALL 24 PLAYOFFS 2000 ***...  baseball
158    227   287  POOL A 88 ANGER Fotog THEREANS Sporthor WORLD ...  baseball

[159 rows x 4 columns]

In [13]:
df_rugby = df[df.sport == 'rugby']
df_rugby = df_rugby.sample(frac = 0.9)
df_rugby =  df_rugby.reset_index(drop=True)
df_rugby

     index  file                                               text  sport
0     2104    27  FR999 RUGBY WORLD CUP 2019 Only for $49 Kobe M...  rugby
1     2160    82  北京 2 SINO 10s RUGBY TOURNAMENT MAY 29th FROM 8...  rugby
2     2102    25  YOUR PRESENTS YOUTH RUGBY TOURNAMENT $1000 FOR...  rugby
3     2070   152  SPORT CLUB NAME RUGBY GAME TEAM 1 VS TEAM 2 CA...  rugby
4     2040   124  CATALINA RUGBY FESTIVAL ● SS JOE HENDRIX MAY 4...  rugby
..     ...   ...                                                ...    ...
141   2073   155  RUGBY CHAMPIONS LEAGUE TOURNAMENT shutterstock...  rugby
142   2047   131  RUGBY 51 CITY CENTRAL ARENA TOURNAMENT shutter...  rugby
143   2062   145  III CHI # 55 ASIA RUGBY MEN'S CHAMPIONSHIP FUL...  rugby
144   2122    47  REGISTER ONLINE NOW MEN & WOMEN'S GRADES AVAIL...  rugby
145   2172    98  RUGBY POUTHFESTIVAL PORTUGAL 2020 12TH EDITION...  rugby

[146 rows x 4 columns]

In [14]:
df_archery = df[df.sport == 'archery']
df_archery = df_archery.sample(frac = 0.9)
df_archery =  df_archery.reset_index(drop=True)
df_archery

     index  file                                               text    sport
0      130    73  ME ARCHERY Leagues Bowman WORLD RECORD TEAM- B...  archery
1      122    65  3-D ARCHERY SHOOT PUIDOSO ONLINE REGISTRATIONS...  archery
2       35   132  lea ANDORRA INTERNATIONAL OPEN FOR VI ARCHERY ...  archery
3       62   159  ARCHERY At Pocahontas State Park 13 MAY $6.00 ...  archery
4       56   153  25 THE TEXAS INTERNATIONAL ARCHERY FESTIVAL II...  archery
..     ...   ...                                                ...      ...
135     17   113  REGIONAL ARCHERY TOURNAMENT FEBRUARY 11, 2023 ...  archery
136     15   111  SAVE THE DATE! March 10, 11, 12 2023 BEAST OF ...  archery
137     21   119  ALITH 2021 HHAUSA VETERANS ARCHERY SHOOT TOUR ...  archery
138    110    52  O REGISTRATION O ARCHERY Tournament ** • 10-20...  archery
139     16   112  Prize Money Tournament ARCHERY Sunday 10TH NOV...  archery

[140 rows x 4 columns]

In [15]:
df_billiard = df[df.sport == 'billiard']
df_billiard = df_billiard.sample(frac = 0.9)
df_billiard =  df_billiard.reset_index(drop=True)
df_billiard

     index  file                                               text     sport
0      718   133  15 Mollie 10 5 12 3 1 14 8 9 2 13 4 6 11 BILLI...  billiard
1      832   617  YOUR LOGO YOUR CLUB PRESENTS BILLIARDS Open To...  billiard
2      727   170  123RF 123RF SAT 17:00 SPORTS CLUR BRE 123RF 8 ...  billiard
3      790   375  ve అల THE JOHNSONS ROOM ILLIARD LESS TALK MORE...  billiard
4      721   144  logo 2021 YOUTH BILLIARDS CLUB 8 BILLIARDS OPE...  billiard
..     ...   ...                                                ...       ...
125    726    17  lovepik.com Lovel logo 2021 YOUTH BILLIARDS 8 ...  billiard
126    834   620     THE BEST ✰ ✰ ✰ >BILLARD PLAYERS €1 HAVE BEARDS  billiard
127    756   255  YOUR LOGO 2020 GAME BILLIARDS Billiards is an ...  billiard
128    796   417  JOSS NORTHEAST 9-BALL TOUR BILLIARDS TOURNAMEN...  billiard
129    774   319                              thr KING OF BILLIARDS  billiard

[130 rows x 4 columns]

In [16]:
df_carrom = df[df.sport == 'carrom']
df_carrom = df_carrom.sample(frac = 0.9)
df_carrom =  df_carrom.reset_index(drop=True)
df_carrom

    index  file                                               text   sport
0     930   502                                            ORROM O  carrom
1     899   299  WFOT World Federation of Occupational Therapis...  carrom
2     860    14                        Carrom Carrom Carrom Carrom  carrom
3     886   240  CARRAM MCA 00 0 LATE KRUSHNAKAR TIPNIS MEMORIA...  carrom
4     873   182  Played by Narayan. Jewell, and West. BDR003 MA...  carrom
..    ...   ...                                                ...     ...
91    869   170  (85) BRAND NAME TAGLINE HERE CHALLENGE TROPHY ...  carrom
92    925   496                            JE PEUX PAS J'AI CARROM  carrom
93    943   616                                Royal CarroM MASTER  carrom
94    954    89                                      CARROM- board  carrom
95    907   345  416 LYRICSADDICTION.COM CARROM KI RANI SAREGAN...  carrom

[96 rows x 4 columns]

In [17]:
df_data = pd.concat([df_carrom, df_archery,df_baseball,df_basketball, df_billiard, df_chess, df_cricket, df_golf, df_rugby, df_tennis])
df_data.reset_index(drop=True, inplace = True)
df_data

      index  file                                               text   sport
0       930   502                                            ORROM O  carrom
1       899   299  WFOT World Federation of Occupational Therapis...  carrom
2       860    14                        Carrom Carrom Carrom Carrom  carrom
3       886   240  CARRAM MCA 00 0 LATE KRUSHNAKAR TIPNIS MEMORIA...  carrom
4       873   182  Played by Narayan. Jewell, and West. BDR003 MA...  carrom
...     ...   ...                                                ...     ...
2148   2232   151  2023 TENNIS TOURNAMENT 15 - 17 JULY Lorem ipsu...  tennis
2149   2349     6  TENNIS TOURNAMENT JUNE 18, 19, 20 TOURNAMENT S...  tennis
2150   2303   216  YOUR PRESENTS TENN 3525 OPEN TOURNAMENT THE HO...  tennis
2151   2357    67                                  TENNIS TOURNAMENT  tennis
2152   2278   194  BORIS BECKER by TEN-PRO Global Junior Tour 27 ...  tennis

[2153 rows x 4 columns]

In [18]:
df_data.shape

(2153, 4)

# Text Pre Processing

In [19]:
df_data

      index  file                                               text   sport
0       930   502                                            ORROM O  carrom
1       899   299  WFOT World Federation of Occupational Therapis...  carrom
2       860    14                        Carrom Carrom Carrom Carrom  carrom
3       886   240  CARRAM MCA 00 0 LATE KRUSHNAKAR TIPNIS MEMORIA...  carrom
4       873   182  Played by Narayan. Jewell, and West. BDR003 MA...  carrom
...     ...   ...                                                ...     ...
2148   2232   151  2023 TENNIS TOURNAMENT 15 - 17 JULY Lorem ipsu...  tennis
2149   2349     6  TENNIS TOURNAMENT JUNE 18, 19, 20 TOURNAMENT S...  tennis
2150   2303   216  YOUR PRESENTS TENN 3525 OPEN TOURNAMENT THE HO...  tennis
2151   2357    67                                  TENNIS TOURNAMENT  tennis
2152   2278   194  BORIS BECKER by TEN-PRO Global Junior Tour 27 ...  tennis

[2153 rows x 4 columns]

# Lower Casing English Words

Lower casing is only apply for the English words. Having same word in upper case and lower case can reduce the accuracy. So as a first step convert all the english words to lower case.

In [20]:
df_data2 = df_data.copy()

After converting upper case into lower case

In [21]:
df_data['text_lower']= df_data['text'].apply(lambda x: x.lower())
df_data.head(20)

,index,file,text,sport,text_lower
0,930,502,ORROM O,carrom,orrom o
1,899,299,WFOT World Federation of Occupational Therapis...,carrom,wfot world federation of occupational therapis...
2,860,14,Carrom Carrom Carrom Carrom,carrom,carrom carrom carrom carrom
3,886,240,CARRAM MCA 00 0 LATE KRUSHNAKAR TIPNIS MEMORIA...,carrom,carram mca 00 0 late krushnakar tipnis memoria...
4,873,182,"Played by Narayan. Jewell, and West. BDR003 MA...",carrom,"played by narayan. jewell, and west. bdr003 ma..."
5,957,99,Carrom LIFE,carrom,carrom life
6,898,289,HOBBIES Explaining Things The Easy Way How to ...,carrom,hobbies explaining things the easy way how to ...
7,905,342,b. BR SOFTech CARROM BOARD GAME DEVELOPMENT CO...,carrom,b. br softech carrom board game development co...
8,885,24,Freestyle real carrom,carrom,freestyle real carrom
9,871,178,PERFECT SHOT CARROM COIN siscaa carrom SISCAA ...,carrom,perfect shot carrom coin siscaa carrom siscaa ...
10,863,144,AMRA KYAK JOAN CLUB PRESENTS 1ST PRICE 20000 O...,carrom,amra kyak joan club presents 1st price 20000 o...
11,864,148,REALISTIC CARROM EXPERIENCE,carrom,realistic carrom experience
12,853,107,LO BRAND NAME GO SLOGAN HERE +0 123 456 789 1S...,carrom,lo brand name go slogan here +0 123 456 789 1s...
13,852,10,کی CARROM 10 A TARZAN PRODUCTION IN ASSOCIATIO...,carrom,کی carrom 10 a tarzan production in associatio...
14,919,45,SAVE QUEEN 6 CORPORATE CARROM TOURNAMENT BENGA...,carrom,save queen 6 corporate carrom tournament benga...
15,933,531,CARROM TOURNAMENT..,carrom,carrom tournament..
16,916,442,HALLOWEEN SALE TOURNAMENT GRADE CARROM BOARD F...,carrom,halloween sale tournament grade carrom board f...
17,851,1,LO COLLEGE NAME TAGLINE HERE CO SUPERSHOT CARR...,carrom,lo college name tagline here co supershot carr...
18,856,121,CARROM CAN SAVE YOUR HEALTH Here is How Indulg...,carrom,carrom can save your health here is how indulg...
19,915,439,Social Media Post Template JULABURUIGCMEN PRES...,carrom,social media post template julaburuigcmen pres...

In [22]:
df_data2['text']= df_data2['text'].apply(lambda x: x.lower())

In [96]:
df_data2

,index,file,text,sport,text_tokened
0,930,502,orrom o,carrom,[orrom o]
1,899,299,wfot world federation of occupational therapis...,carrom,[wfot world federation of occupational therapi...
2,860,14,carrom carrom carrom carrom,carrom,[carrom carrom carrom carrom]
3,886,240,carram mca 00 0 late krushnakar tipnis memoria...,carrom,[carram mca 00 0 late krushnakar tipnis memori...
4,873,182,"played by narayan. jewell, and west. bdr003 ma...",carrom,"[played by narayan., jewell, and west., bdr003..."
...,...,...,...,...,...
2148,2232,151,2023 tennis tournament 15 - 17 july lorem ipsu...,tennis,[2023 tennis tournament 15 - 17 july lorem ips...
2149,2349,6,"tennis tournament june 18, 19, 20 tournament s...",tennis,"[tennis tournament june 18, 19, 20 tournament ..."
2150,2303,216,your presents tenn 3525 open tournament the ho...,tennis,[your presents tenn 3525 open tournament the h...
2151,2357,67,tennis tournament,tennis,[tennis tournament]
2152,2278,194,boris becker by ten-pro global junior tour 27 ...,tennis,[boris becker by ten-pro global junior tour 27...

# Sentence Tokenization

In this step tokenized paragraph into sentences. So sentences can be use to train the model instead of using words. Can use similar sentences to do the prediction. This should be done before punctuations removal to identify the sentences correctly

In [23]:
df_data3 = df_data2.copy()

In [24]:
!pip install nltk
import nltk
nltk.download('punkt')

Requirement already satisfied: nltk in c:\users\acer\appdata\roaming\python\python310\site-packages (3.3)
Requirement already satisfied: six in c:\users\acer\appdata\roaming\python\python310\site-packages (from nltk) (1.16.0)
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
from nltk.tokenize import sent_tokenize

After tokenizing sentences

In [26]:
df_data2["text_tokened"] = df_data2["text"].apply(lambda x: sent_tokenize(x))
df_data2.head(20)

,index,file,text,sport,text_tokened
0,930,502,orrom o,carrom,[orrom o]
1,899,299,wfot world federation of occupational therapis...,carrom,[wfot world federation of occupational therapi...
2,860,14,carrom carrom carrom carrom,carrom,[carrom carrom carrom carrom]
3,886,240,carram mca 00 0 late krushnakar tipnis memoria...,carrom,[carram mca 00 0 late krushnakar tipnis memori...
4,873,182,"played by narayan. jewell, and west. bdr003 ma...",carrom,"[played by narayan., jewell, and west., bdr003..."
5,957,99,carrom life,carrom,[carrom life]
6,898,289,hobbies explaining things the easy way how to ...,carrom,[hobbies explaining things the easy way how to...
7,905,342,b. br softech carrom board game development co...,carrom,[b. br softech carrom board game development c...
8,885,24,freestyle real carrom,carrom,[freestyle real carrom]
9,871,178,perfect shot carrom coin siscaa carrom siscaa ...,carrom,[perfect shot carrom coin siscaa carrom siscaa...
10,863,144,amra kyak joan club presents 1st price 20000 o...,carrom,[amra kyak joan club presents 1st price 20000 ...
11,864,148,realistic carrom experience,carrom,[realistic carrom experience]
12,853,107,lo brand name go slogan here +0 123 456 789 1s...,carrom,[lo brand name go slogan here +0 123 456 789 1...
13,852,10,کی carrom 10 a tarzan production in associatio...,carrom,[کی carrom 10 a tarzan production in associati...
14,919,45,save queen 6 corporate carrom tournament benga...,carrom,[save queen 6 corporate carrom tournament beng...
15,933,531,carrom tournament..,carrom,[carrom tournament..]
16,916,442,halloween sale tournament grade carrom board f...,carrom,[halloween sale tournament grade carrom board ...
17,851,1,lo college name tagline here co supershot carr...,carrom,[lo college name tagline here co supershot car...
18,856,121,carrom can save your health here is how indulg...,carrom,[carrom can save your health here is how indul...
19,915,439,social media post template julaburuigcmen pres...,carrom,[social media post template julaburuigcmen pre...

In [27]:
df_data3["text"] = df_data3["text"].apply(lambda x: sent_tokenize(x))

Create seperate dataframe rows for the newly tokenized sentences.

In [28]:
df_data3 = df_data3.explode("text", ignore_index=True)
df_data3

      index  file                                               text   sport
0       930   502                                            orrom o  carrom
1       899   299  wfot world federation of occupational therapis...  carrom
2       860    14                        carrom carrom carrom carrom  carrom
3       886   240  carram mca 00 0 late krushnakar tipnis memoria...  carrom
4       886   240  2nd maharashtra state ranking carrom tournamen...  carrom
...     ...   ...                                                ...     ...
4233   2349     6  tennis tournament june 18, 19, 20 tournament s...  tennis
4234   2303   216  your presents tenn 3525 open tournament the ho...  tennis
4235   2357    67                                  tennis tournament  tennis
4236   2278   194  boris becker by ten-pro global junior tour 27 ...  tennis
4237   2278   194   wilson boris becker international tennis academy  tennis

[4238 rows x 4 columns]

# Removel Of Punctuation

Punctuations are removing, So words can be use to train the model. string.punctuation used to identify the punctuations.

In [29]:
df_data4 = df_data3.copy()

After removing punctuations

In [97]:
df_data3['text_punc_r']= df_data3['text'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
df_data3

,index,file,text,sport,text_punc_r
0,930,502,orrom o,carrom,orrom o
1,899,299,wfot world federation of occupational therapis...,carrom,wfot world federation of occupational therapis...
2,860,14,carrom carrom carrom carrom,carrom,carrom carrom carrom carrom
3,886,240,carram mca 00 0 late krushnakar tipnis memoria...,carrom,carram mca 00 0 late krushnakar tipnis memoria...
4,886,240,2nd maharashtra state ranking carrom tournamen...,carrom,2nd maharashtra state ranking carrom tournamen...
...,...,...,...,...,...
4233,2349,6,"tennis tournament june 18, 19, 20 tournament s...",tennis,tennis tournament june 18 19 20 tournament sta...
4234,2303,216,your presents tenn 3525 open tournament the ho...,tennis,your presents tenn 3525 open tournament the ho...
4235,2357,67,tennis tournament,tennis,tennis tournament
4236,2278,194,boris becker by ten-pro global junior tour 27 ...,tennis,boris becker by tenpro global junior tour 27 d...
4237,2278,194,wilson boris becker international tennis academy,tennis,wilson boris becker international tennis academy

In [31]:
df_data4['text']= df_data4['text'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))

# Replace Emojis

Emojis have their own meanings. Emojis can use to predic the negative and positive comments. So emojis are changed into respective words in this part. To identify emojis , demoji package is using here

In [32]:
df_data5 = df_data4.copy()

In [33]:
#!pip install demoji

In [34]:
#import demoji

Identify emojies

In [35]:
#emo = df_data4['text'].apply(lambda x: demoji.findall(x))
#emo.head(20)

In [36]:
#list_emos = list(emo)
#list_filt = list(filter(None, list_emos))
#list_filt

create seperate lists for emojies and their meanings

In [37]:
#list_emojis = []
#list_emo_texts = []

#for item in list_filt:
  #list_emojis += list(item.keys())
  #list_emo_texts += list(item.values())

#print(list_emojis)
#print(len(list_emojis))
#print(list_emo_texts)
#print(len(list_emo_texts))

Using above emoji and meaning lists, replace the emojies in the sentences with the relevant text.

In [38]:
#def replace_emoji(text):
  #for i, item in enumerate(list_emojis):
    #text = text.replace(item, " " + list_emo_texts[i] + " ")
  #return text

Removing emojis and dataset after removing emojis

In [39]:
#df_data4['text_emo'] = df_data4['text'].apply(lambda x: replace_emoji(x))
#df_data4.head(20)

# Removal Of Stopwords

Remove stop words. Because stop words does not affect to give good accuratable prediction. Those are commanly using words

In [40]:
df_data6 = df_data5.copy()

Used both sinhala and english stop words here.

In [41]:
#eng_stp_wrd_arr = ["සහ", "සමග", "සමඟ", "අහා", "ආහ්", "ආ", "ඕහෝ", "අනේ", "අඳෝ", "අපොයි", "අපෝ", "අයියෝ", "ආයි", "ඌයි", "චී", "චිහ්", "චික්", "හෝ‍", "දෝ", "දෝහෝ", "මෙන්", "සේ", "වැනි", "බඳු", "වන්", "අයුරු", "අයුරින්", "ලෙස", "වැඩි", "ශ්‍රී", "හා", "ය", "නිසා", "නිසාවෙන්", "බවට", "බව", "බවෙන්", "නම්", "වැඩි", "සිට", "දී", "මහා", "මහ", "පමණ", "පමණින්", "පමන", "වන", "විට", "විටින්", "මේ", "මෙලෙස", "මෙයින්", "ඇති", "ලෙස", "සිදු", "වශයෙන්", "යන", "සඳහා", "මගින්", "හෝ‍", "ඉතා", "ඒ", "එම", "ද", "අතර", "විසින්", "සමග", "පිළිබඳව", "පිළිබඳ", "තුළ", "බව", "වැනි", "මහ", "මෙම", "මෙහි", "මේ", "වෙත", "වෙතින්", "වෙතට", "වෙනුවෙන්", "වෙනුවට", "වෙන", "ගැන", "නෑ", "අනුව", "නව", "පිළිබඳ", "විශේෂ", "දැනට", "එහෙන්", "මෙහෙන්", "එහේ", "මෙහේ", "ම", "තවත්", "තව", "සහ", "දක්වා", "ට", "ගේ", "එ", "ක", "ක්", "බවත්", "බවද", "මත", "ඇතුලු", "ඇතුළු", "මෙසේ", "වඩා", "වඩාත්ම", "නිති", "නිතිත්", "නිතොර", "නිතර", "ඉක්බිති", "දැන්", "යලි", "පුන", "ඉතින්", "සිට", "සිටන්", "පටන්", "තෙක්", "දක්වා", "සා", "තාක්", "තුවක්", "පවා", "ද", "හෝ‍", "වත්", "විනා", "හැර", "මිස", "මුත්", "කිම", "කිම්", "ඇයි", "මන්ද", "හෙවත්", "නොහොත්", "පතා", "පාසා", "ගානෙ", "තව", "ඉතා", "බොහෝ", "වහා", "සෙද", "සැනින්", "හනික", "එම්බා", "එම්බල", "බොල", "නම්", "වනාහි", "කලී", "ඉඳුරා", "අන්න", "ඔන්න", "මෙන්න", "උදෙසා", "පිණිස", "සඳහා", "අරබයා", "නිසා", "එනිසා", "එබැවින්", "බැවින්", "හෙයින්", "සේක්", "සේක", "ගැන", "අනුව", "පරිදි", "විට", "තෙක්", "මෙතෙක්", "මේතාක්", "තුරු", "තුරා", "තුරාවට", "තුලින්", "නමුත්", "එනමුත්", "වස්", "මෙන්", "ලෙස", "පරිදි", "එහෙත්", "ශ්රී", "මහතා", "දින", "ජාතික", "කරන", "අමාත්ය", "ඇති", "ලංකා", "ගැන", "සඳහා", "කටයුතු", "කිරීම", "රාජපක්ෂ", "වෙනුවෙන්", "ගරු", "ලෙස", "අතර", "සිට", "ජනාධිපති", "විසින්", "වැඩි", "මෙම", "ජනපති", "සමග", "බලන්න", "හිටපු", "කිරීමට", "විස්තර", "පාර්ලිමේන්තු", "මන්ත්රී", "සදහා", "මහින්ද", "ලබා", "අපි", "සිදු", "නිදහස්", "එක්සත්", "කරයි", "ජනතාව", "සංවර්ධන", "කරන්න", "විය", "මහා", "රාත්රී", "ප්රධානත්වයෙන්", "පක්ෂ", "අවස්ථාව", "පත්", "රාජ්ය", "කොළඹ", "පැවති", "වැඩ", "මාධ්ය", "ජනතා", "කිරීමේ"]

Refereneces for the sinhala stop words:
https://github.com/nlpcuom/Sinhala-Stopword-list
https://github.com/LIRNEasia/FacebookDecadeCorpora

In [42]:
#len(sin_stp_wrd_arr)

In [43]:
#sin_stp_wrd_arr = [*set(sin_stp_wrd_arr)]

Sinhala stop words count after removing the duplications

In [44]:
#len(sin_stp_wrd_arr)

In [45]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

Combining sinhala stop words with the english stop words.

In [46]:
english_stop_words_list=stopwords.words('english')
print(english_stop_words_list)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [47]:
#sinhala_stop_words_list = sin_stp_wrd_arr

In [48]:
final_stopword_list = english_stop_words_list
print(final_stopword_list)
print("Length : ", len(final_stopword_list))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
Length :  179

Removing stopwords and dataset after removing stopwords

In [49]:
def rem_stpwrds(text):
    return " ".join([word for word in str(text).split() if word not in final_stopword_list])

df_data5["text_rem_sw"] = df_data5["text"].apply(lambda x: rem_stpwrds(x))
df_data5.head(20)

,index,file,text,sport,text_rem_sw
0,930,502,orrom o,carrom,orrom
1,899,299,wfot world federation of occupational therapis...,carrom,wfot world federation occupational therapists ...
2,860,14,carrom carrom carrom carrom,carrom,carrom carrom carrom carrom
3,886,240,carram mca 00 0 late krushnakar tipnis memoria...,carrom,carram mca 00 0 late krushnakar tipnis memoria...
4,886,240,2nd maharashtra state ranking carrom tournamen...,carrom,2nd maharashtra state ranking carrom tournamen...
5,886,240,social club thane west thane400601 under the a...,carrom,social club thane west thane400601 aegis mahar...
6,886,240,hall ganpat jayram marg kharkar ali thane west...,carrom,hall ganpat jayram marg kharkar ali thane west...
7,873,182,played by narayan,carrom,played narayan
8,873,182,jewell and west,carrom,jewell west
9,873,182,bdr003 made in canada 3 another theory shot to...,carrom,bdr003 made canada 3 another theory shot shitn...
10,957,99,carrom life,carrom,carrom life
11,898,289,hobbies explaining things the easy way how to ...,carrom,hobbies explaining things easy way start hobby...
12,905,342,b br softech carrom board game development com...,carrom,b br softech carrom board game development com...
13,885,24,freestyle real carrom,carrom,freestyle real carrom
14,871,178,perfect shot carrom coin siscaa carrom siscaa ...,carrom,perfect shot carrom coin siscaa carrom siscaa ...
15,871,178,690 inclusive of all taxes mob 8375821773 ema...,carrom,690 inclusive taxes mob 8375821773 email infos...
16,871,178,palghar 401208 siscaa perfection redefined — w...,carrom,palghar 401208 siscaa perfection redefined — w...
17,863,144,amra kyak joan club presents 1st price 20000 o...,carrom,amra kyak joan club presents 1st price 20000 2...
18,864,148,realistic carrom experience,carrom,realistic carrom experience
19,853,107,lo brand name go slogan here 0 123 456 789 1st...,carrom,lo brand name go slogan 0 123 456 789 1st pric...

In [50]:
df_data6["text"] = df_data6["text"].apply(lambda x: rem_stpwrds(x))

# Removal of Frequent words

Most of the frequently used data are have none or littel semantic meaning related to a context. Most of them are articles, pronouns, or conjuctions. So removed top 10 most frequents words.

In [51]:
df_data7 = df_data6.copy()

In [52]:
from collections import Counter

cnt = Counter()

def idf_frq_wrds(text):
  for word in text.split():
    cnt[word] += 1

df_data6["text"].apply(lambda x: idf_frq_wrds(x))

cnt.most_common(10)

[('tournament', 1071),
 ('lorem', 566),
 ('golf', 557),
 ('ipsum', 540),
 ('dolor', 523),
 ('team', 495),
 ('sit', 480),
 ('amet', 454),
 ('basketball', 422),
 ('pm', 418)]

Removing frequent words and dataset after removing frequent words

In [53]:
FREQWORDS = set([w for (w, wc) in cnt.most_common(10)])

def remove_f_words(text):
    return " ".join([word for word in str(text).split() if word not in FREQWORDS])

df_data6["text_fwrds-rem"] = df_data6["text"].apply(lambda text: remove_f_words(text))
df_data6.head(20)

,index,file,text,sport,text_fwrds-rem
0,930,502,orrom,carrom,orrom
1,899,299,wfot world federation occupational therapists ...,carrom,wfot world federation occupational therapists ...
2,860,14,carrom carrom carrom carrom,carrom,carrom carrom carrom carrom
3,886,240,carram mca 00 0 late krushnakar tipnis memoria...,carrom,carram mca 00 0 late krushnakar tipnis memoria...
4,886,240,2nd maharashtra state ranking carrom tournamen...,carrom,2nd maharashtra state ranking carrom 202223 or...
5,886,240,social club thane west thane400601 aegis mahar...,carrom,social club thane west thane400601 aegis mahar...
6,886,240,hall ganpat jayram marg kharkar ali thane west...,carrom,hall ganpat jayram marg kharkar ali thane west...
7,873,182,played narayan,carrom,played narayan
8,873,182,jewell west,carrom,jewell west
9,873,182,bdr003 made canada 3 another theory shot shitn...,carrom,bdr003 made canada 3 another theory shot shitn...
10,957,99,carrom life,carrom,carrom life
11,898,289,hobbies explaining things easy way start hobby...,carrom,hobbies explaining things easy way start hobby...
12,905,342,b br softech carrom board game development com...,carrom,b br softech carrom board game development com...
13,885,24,freestyle real carrom,carrom,freestyle real carrom
14,871,178,perfect shot carrom coin siscaa carrom siscaa ...,carrom,perfect shot carrom coin siscaa carrom siscaa ...
15,871,178,690 inclusive taxes mob 8375821773 email infos...,carrom,690 inclusive taxes mob 8375821773 email infos...
16,871,178,palghar 401208 siscaa perfection redefined — w...,carrom,palghar 401208 siscaa perfection redefined — w...
17,863,144,amra kyak joan club presents 1st price 20000 2...,carrom,amra kyak joan club presents 1st price 20000 2...
18,864,148,realistic carrom experience,carrom,realistic carrom experience
19,853,107,lo brand name go slogan 0 123 456 789 1st pric...,carrom,lo brand name go slogan 0 123 456 789 1st pric...

In [54]:
df_data7["text"] = df_data7["text"].apply(lambda text: remove_f_words(text))

# Stemming

Process of removing inflected or sometimes derived words from the word stem. In this process sometime orignial word meaning is also lose.

In [55]:
df_data8 = df_data7.copy()

Since this dataset have many sinhala words, I used sinhala langauge related package called singling.

https://github.com/rksk/sinhala-news-analysis/tree/master/sinhala-stemmer

In [56]:
#!pip install sinling

In [57]:
#from sinling import SinhalaStemmer

After stemming sinhala words, as we can see below there are lot of meaningless words creatted. So I did not take that dataframe for the further processes.

In [58]:
#stemmer = SinhalaStemmer()

#def sin_stem_wrds(text):
  #text_stem = ""
  #for word in text.split():
    #s_text =' '.join([str(x) for x in stemmer.stem(word)])
    #text_stem = text_stem + " " + s_text
  #return text_stem

#df_data7["Statement_Stem"] = df_data7["Statement"].apply(lambda x: sin_stem_wrds(x))
#df_data7.head(20)

In [59]:
!pip install spacy

Requirement already satisfied: spacy in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (3.5.1)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (2.28.2)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (3.0.12)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (1.0.4)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (3.0.8)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (1.10.7)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (1.0.9)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (3.3.0)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (1.1.1)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (4.64.1)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (2.0.7)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (2.4.6)
Requirement already satisfied: numpy>=1.15.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from spacy) (1.23.4)
Requirement already satisfied: pathy>=0.10.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (0.10.1)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (8.1.9)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (6.3.0)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (0.7.0)
Requirement already satisfied: setuptools in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (65.5.0)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy) (2.0.8)
Requirement already satisfied: jinja2 in c:\users\acer\appdata\roaming\python\python310\site-packages (from spacy) (3.1.2)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from spacy) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\acer\appdata\roaming\python\python310\site-packages (from packaging>=20.0->spacy) (3.0.9)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy) (4.3.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\appdata\roaming\python\python310\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (1.26.15)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (3.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy) (2022.9.24)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.0.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy) (0.7.9)
Requirement already satisfied: colorama in c:\users\acer\appdata\roaming\python\python310\site-packages (from tqdm<5.0.0,>=4.38.0->spacy) (0.4.6)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from typer<0.8.0,>=0.3.0->spacy) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from jinja2->spacy) (2.1.1)

In [60]:
!python -m spacy download en_core_web_sm

Collecting en-core-web-sm==3.5.0
  Downloading https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl (12.8 MB)
     ---------------------------------------- 12.8/12.8 MB 4.6 MB/s eta 0:00:00
Requirement already satisfied: spacy<3.6.0,>=3.5.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from en-core-web-sm==3.5.0) (3.5.1)
Requirement already satisfied: smart-open<7.0.0,>=5.2.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (6.3.0)
Requirement already satisfied: murmurhash<1.1.0,>=0.28.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.9)
Requirement already satisfied: pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.10.7)
Requirement already satisfied: langcodes<4.0.0,>=3.2.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.3.0)
Requirement already satisfied: thinc<8.2.0,>=8.1.8 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (8.1.9)
Requirement already satisfied: tqdm<5.0.0,>=4.38.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.64.1)
Requirement already satisfied: pathy>=0.10.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.10.1)
Requirement already satisfied: spacy-loggers<2.0.0,>=1.0.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.0.4)
Requirement already satisfied: spacy-legacy<3.1.0,>=3.0.11 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.12)
Requirement already satisfied: catalogue<2.1.0,>=2.0.6 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.8)
Requirement already satisfied: cymem<2.1.0,>=2.0.2 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.0.7)
Requirement already satisfied: jinja2 in c:\users\acer\appdata\roaming\python\python310\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.1.2)
Requirement already satisfied: typer<0.8.0,>=0.3.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.0)
Requirement already satisfied: srsly<3.0.0,>=2.4.3 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.4.6)
Requirement already satisfied: wasabi<1.2.0,>=0.9.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.1.1)
Requirement already satisfied: preshed<3.1.0,>=3.0.2 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.8)
Requirement already satisfied: numpy>=1.15.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.23.4)
Requirement already satisfied: setuptools in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (65.5.0)
Requirement already satisfied: requests<3.0.0,>=2.13.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.28.2)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\acer\appdata\roaming\python\python310\site-packages (from packaging>=20.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.0.9)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from pydantic!=1.8,!=1.8.1,<1.11.0,>=1.7.4->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (4.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2022.9.24)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.1.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in c:\users\acer\appdata\roaming\python\python310\site-packages (from requests<3.0.0,>=2.13.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (3.4)
Requirement already satisfied: blis<0.8.0,>=0.7.8 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.7.9)
Requirement already satisfied: confection<1.0.0,>=0.0.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from thinc<8.2.0,>=8.1.8->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.0.4)
Requirement already satisfied: colorama in c:\users\acer\appdata\roaming\python\python310\site-packages (from tqdm<5.0.0,>=4.38.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (0.4.6)
Requirement already satisfied: click<9.0.0,>=7.1.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from typer<0.8.0,>=0.3.0->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (8.1.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from jinja2->spacy<3.6.0,>=3.5.0->en-core-web-sm==3.5.0) (2.1.1)
[+] Download and installation successful
You can now load the package via spacy.load('en_core_web_sm')

In [61]:
import spacy

In [62]:
nlp = spacy.load('en_core_web_sm')

def stemming(text):
    doc = nlp(text)
    stemmed_text = ' '.join([token.lemma_ for token in doc])
    return stemmed_text

# Example dataset
#dataset = ["I am running", "He ran quickly", "She will be running tomorrow"]

# Apply stemming to each string in the dataset
stemmed_dataset = [stemming(text) for text in df_data8]

# Print the original dataset and the stemmed dataset
print("Original dataset:", df_data8)
print("Stemmed dataset:", stemmed_dataset)

Original dataset:       index  file                                               text   sport
0       930   502                                              orrom  carrom
1       899   299  wfot world federation occupational therapists ...  carrom
2       860    14                        carrom carrom carrom carrom  carrom
3       886   240  carram mca 00 0 late krushnakar tipnis memoria...  carrom
4       886   240  2nd maharashtra state ranking carrom 202223 or...  carrom
...     ...   ...                                                ...     ...
4233   2349     6  tennis june 18 19 20 start time spot prizes da...  tennis
4234   2303   216  presents tenn 3525 open holl 1823 oct presents...  tennis
4235   2357    67                                             tennis  tennis
4236   2278   194  boris becker tenpro global junior tour 27 dec ...  tennis
4237   2278   194   wilson boris becker international tennis academy  tennis

[4238 rows x 4 columns]
Stemmed dataset: ['index', 'file', 'text', 'sport']

Look like this is not a good stremmer. So did not apply changes for the further steps.

# Naive Bayes Model

Apply Naive Bayes model

Create x and y data from prepreocessed data..

In [63]:
x_data = df_data8['text']
y_data = df_data8['sport']

Split text and train data. 20% text data.

In [64]:
pip install -U scikit-learn scipy matplotlib

Requirement already satisfied: scikit-learn in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (1.2.2)
Requirement already satisfied: scipy in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (1.10.1)
Requirement already satisfied: matplotlib in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (3.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\acer\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\acer\appdata\roaming\python\python310\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\acer\appdata\roaming\python\python310\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\acer\anaconda3\envs\nlp\lib\site-packages (from matplotlib) (1.0.6)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from matplotlib) (21.3)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
x_train , x_test , y_train , y_test = train_test_split(x_data , y_data , stratify=y_data, test_size=0.2 )

In [67]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((3390,), (848,), (3390,), (848,))

vectorize x_train and x_test data.

In [68]:
from sklearn.feature_extraction.text import CountVectorizer

In [69]:
vec = CountVectorizer()
x_train = vec.fit_transform(x_train).toarray()
x_test = vec.transform(x_test).toarray()

Fit the data to model and train using x_train and y_train data

In [70]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

Evaluate model - Giving around 0.7 score

In [71]:
model.score(x_test, y_test)

0.6226415094339622

In [72]:
pred = model.predict(x_test)

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
print(accuracy_score(y_test , pred))

0.6226415094339622

Predict positive and negative comments

In [75]:
test_sen = 'BASKETBALL TOURNAMENT epik freepik'
model.predict(vec.transform([test_sen]))

array(['basketball'], dtype='<U10')

In [76]:
test_sen = 'golf TOURNAMENT epik freepik'
model.predict(vec.transform([test_sen]))

array(['basketball'], dtype='<U10')

# Support Vector Machines (SVM)

Support Vector Machines (SVM) are powerful supervised machine learning algorithms used for binary classification. However, they can be extended to handle multi-class classification using techniques like one-vs-one (OvO) or one-vs-rest (OvR). In this response, we'll go through the steps to train an SVM model for multi-class text classification using Python and the Scikit-learn library.

In [77]:
import numpy as np
import pandas as pd

In [78]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [79]:
x_data = df_data8['text']
y_data = df_data8['sport']

In [80]:
x_train , x_test , y_train , y_test = train_test_split(x_data , y_data , stratify=y_data, test_size=0.2, random_state=42 )

In [81]:
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', OneVsRestClassifier(SVC(kernel='linear', probability=True, class_weight='balanced')))
])

In [82]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('clf',
                 OneVsRestClassifier(estimator=SVC(class_weight='balanced',
                                                   kernel='linear',
                                                   probability=True)))])

In [83]:
y_pred = pipeline.predict(x_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy:  0.7016509433962265
              precision    recall  f1-score   support

     archery       0.77      0.69      0.73        58
    baseball       0.89      0.77      0.82        61
  basketball       0.58      0.65      0.61       133
    billiard       0.78      0.74      0.76        47
      carrom       0.87      0.72      0.79        46
       chess       0.71      0.75      0.73       167
     cricket       0.80      0.65      0.72        68
        golf       0.59      0.71      0.64       134
       rugby       0.97      0.58      0.72        52
      tennis       0.69      0.73      0.71        82

    accuracy                           0.70       848
   macro avg       0.76      0.70      0.72       848
weighted avg       0.72      0.70      0.70       848

In [92]:
test_text = ["This is an example of archery test text"]

In [93]:
predicted_label = pipeline.predict(test_text)

In [94]:
print("Predicted class label:", predicted_label)

Predicted class label: ['archery']

In [95]:
predicted_probabilities = pipeline.predict_proba(test_text)
print("Predicted class probabilities:", predicted_probabilities)

Predicted class probabilities: [[0.84744078 0.00097456 0.01682905 0.005413   0.00145588 0.02801421
  0.00886825 0.00386125 0.00212671 0.08501629]]